

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
:root {
  --HonoluluBlue: #016ca9;
}
.navbar {
  background-color: var(--HonoluluBlue);
}
.navbar-heading {
  font-family: 'LibreFranklin';
  font-size: 48px;
}
.navbar-txt {
  font-family: 'LibreFranklin';
  font-size: 24px;
}
.card-text {
  font-family: "SourceSerifPro";
}

p {
  font-family: "SourceSerifPro";
}

.font-face-ssp {
  font-family: "SourceSerifPro";
  color: var(--HonoluluBlue);
}

.font-face-lf {
  font-family: "LibreFranklin";
}
.footer-icon {
  color: var(--HonoluluBlue);
}
